*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
  }

  header {
    display:flex;
    flex-wrap: wrap;
    background-color: #192441;
    height: 10vh;
  }

header nav div.logo {
  float: left;
  width: 10%;
}

header nav div.logo img{
  width: 60px;
  padding: 10px 0px 10px 20px;
}

header nav div.menu {
  display: flex;
  justify-content: flex-end;
}
header nav div.menu ul{
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  padding-top: 20px;
}

header nav div.menu ul li{
  list-style-type: none;
}

header nav div.menu ul li a{
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 40px;
  font-weight: bold;
}

header div.menu ul li a:hover{
  color: #eebd74;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #192441;
  overflow: hidden;
  color: #fff;
  height: 10vh;
}

footer nav div.empresa {
  float: left;
  margin: 15px;
}

footer nav div.redes {
  float: right;
  width: 60px;
}


footer nav div.redes ul li a {
  text-decoration: none;
  color: #fff;
  width: 10px;
}
