/* ------------------------- Inicio Login & Registro ------------------------ */
#login,
#register{
  margin: 0 auto;
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding: 2% ;
}

.login,
.register{
  display: flex;
  justify-content: center;
  background-image: url(../img/fondo-secundario.jpg);
  background-size: contain;
  text-align: center;
}

.login {
  padding: 8% 4% 2%;
  height: 92vh;
}

.register{
  padding: 8% 4% 2%;
}


.login h2,
.login p,
.register h2,
.register p{
  color: #fff;
}

#boton,
#boton-face{
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  width:100%;
  color: #fff;
  border: none;
}

#boton,
#boton-face{
  background-color: #3e314f;
}

#boton:hover,
#boton-face:hover{
  background-color: #fff;
  color: #3e314f;
}

.login input,
.register select,
.register input {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  border-bottom: 1px solid #878786;
}

.condiciones{
  font-size: 12px;
  color: #fff;
}

.login p,
.register p{
  margin: 1%;
}
/* ------------------------- Fin Login & Registro ------------------------ */
/* ------------------------- Inicio Responsive celular --------------------- */
@media (max-width:700px){
  .register,
  .login{
    padding: 20% 4% 2%;
  }
}
